* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;
    --primary-color: #3498db;
    /* A nice blue color */
}

/* Custom scrollbar for modern browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    background-color: #051f62;
}

/* Custom scrollbar for Firefox */
.scrollbar {
    width: 10px;
}

.scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    
}

section {
    min-height: 95vh;
    padding: 10rem 9% 1rem;
}
.education ,.contact{
    min-height: 86.5vh;
}
/* Header section code*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: linear-gradient(to right, #17721a, #17507f);
    backdrop-filter: blur(20px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.navbar {
    display: block;
    
}


.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
    
}

.navbar a:hover{
    color: rgb(192, 208, 193);
}
.navbar a.active {
    color: rgb(234, 242, 234);
    border-bottom: 4px solid rgb(11, 225, 249);
    
    background-color: grey;
    padding: 6px 12px 6px 12px;
    border-radius: 7px;
    
   
    
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/*Home Section code*/

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    /* Makes sure the image covers the whole viewport height */
    margin: 0;
    /* Removes any default margin */
}
.home-content h3 span{
    
    
    -webkit-text-fill-color: white; /* No fill color */
    -webkit-text-stroke: 2px #4caf50; /* Border color and thickness */
}
.home-content .btn, .about-content .btn, .contact .btn{
   background-color: rgb(36, 33, 33);
   color: rgb(240, 245, 246);
   border: 2px solid gold;
   

}
.home-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    border: 2px solid rgb(140, 225, 244);
    outline: 1.5px solid rgb(209, 194, 106);
    outline-offset: 7px;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
    
}

.home-img img:hover {
    box-shadow: 0 0 25px rgb(144, 241, 234),
        0 0 35px rgb(131, 229, 249),
        0 0 45px rgb(128, 243, 254);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.3rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
    color: white;
}

.home-content .or {
    font-size: 20px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}



.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;

    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0 0 25px gray;
}

/* LinkedIn */
.social a.linkedin,
.social-media a.linkedin {
    background-color: #0a66c2;
    color: white;
}

.social a.linkedin,
.social-media a.linkedin:hover {
    background-color: #0a66c2;
    color: white;
}

/* GitHub */
.social a.github,
.social-media a.github {
    background-color: #333;
    color: white;
}

.social a.github,
.social-media a.github:hover {
    background-color: #333;
    color: white;
}

/* Facebook */
.social a.facebook,
.social-media a.facebook {
    background-color: #1877f2;
    color: white;
}

.social a.facebook,
.social-media a.facebook:hover {
    background-color: #1877f2;
    color: white;
}

/* Instagram */
.social a.instagram,
.social-media a.instagram {
    background: linear-gradient(45deg, #E4405F, #F58529, #833AB4, #517FA4);
    color: white;
}

.social a.instagram,
.social-media a.instagram:hover {
    background: linear-gradient(45deg, #E4405F, #F58529, #833AB4, #517FA4);
    color: white;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 2.6rem gold;
}

/* About section code*/
.about-content span{
    color: #eaaf25;
    -webkit-text-stroke: 2px #1e311e; /* Border color and thickness */
}
.about-content .btn{
   
    margin-top: 50px ;
    
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: url(https://wallpapers.com/images/hd/gray-gradient-background-2xq7z1tdzm1ohwbk.jpg);
    background-size: cover;
    /* Ensures the image covers the entire page */
    background-position: center center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    height: 100vh;
    /* Makes sure the image covers the whole viewport height */
    margin: 0;
    /* Removes any default margin */
}

.about-img img {
    width: 25vw;
    border: 2px solid rgb(209, 183, 36);
    border-radius: 50%;
    outline: 1px solid white;
    outline-offset: 7px;
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover {
    box-shadow: 0 0 25px goldenrod,
        0 0 35px gold,
        0 0 45px gold;
}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0.4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/*services section code*/
.justified-content {
    text-align: justify;
}


.services h2 {
    text-align: center;
    margin-bottom: 5rem;
}
.services h2 span{
    -webkit-text-fill-color: rgb(217, 28, 28); /* No fill color */
      -webkit-text-stroke: 2px goldenrod; /* Border color and thickness */
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: rgb(61, 57, 57);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    color: white;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
    outline: 2px solid black;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgb(95, 105, 111),
        0 0 15px rgb(84, 228, 241),
        0 0 25px rgb(48, 119, 206);
}

.services-box i {
    font-size: 7rem;
    color: orange;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.7rem;
    margin: 1rem;
    text-align: center;
}



/*project section code*/

/* General styling for the service box images */
.project-box1 img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

/* Heading styling */
.project h2 {
    text-align: center;
    margin-bottom: 5rem;
    color: rgb(251, 249, 249);
}
.project .heading span {
    color: white;
    -webkit-text-fill-color: rgb(44, 42, 40); /* No fill color */
    -webkit-text-stroke: 2px #d7a286; /* Border color and thickness */
}

.project {
    background-color: #286679;
}

/* Container for project boxes */
.project-container1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/* Each project box */
.project-container1 .project-box1 {
    flex: 1 1 calc(33.333% - 2rem);
    background: #33333f;
    padding: 3rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid #686b6b;
    outline: 2px solid black;
    transition: 0.3s ease;
    box-sizing: border-box;
}

/* Hover effect for the project boxes */
.project-container1 .project-box1:hover {
    border-color: #646496;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgb(82, 173, 225),
        0 0 35px rgb(84, 228, 241),
        0 0 45px rgb(48, 119, 206);
}

/* Button styling */
.project-container1 .project-box1 #project-btn {
    background-color: #c7c7e9;
    color: #000;
    padding: 10px 100px;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    display: inline-block;
    transition: 0.3s ease;
}

.project-container1 .project-box1 #project-btn:hover {
    background-color: #f0ebe7;
}

/* Heading inside each service box */
.project-box1 h3 {
    font-size: 2.6rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f0ebe7;
}

/* Paragraph inside each service box */
.project-box1 p {
    font-size: 1.6rem;
    margin: 1rem;
}

/* Responsive Design for Mobile */
@media (max-width: 1024px) {
    .project-container1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }

    .project-container1 .project-box1 {
        margin-bottom: 1.5rem;
    }

    .project-container1 .project-box1 #project-btn {
        font-size: 1.4rem;
    }

    .project-box1 h3 {
        font-size: 2.4rem;
    }

    .project-container1 {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .project-container1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    .project-container1 .project-box1 {
        padding: 2rem 1.5rem;
    }

    .project-box1 h3 {
        font-size: 2.2rem;
    }

    .project-container1 .project-box1 #project-btn {
        padding: 10px 70px;
    }
}

/* Adjust heading and button font size for smaller screens */
@media (max-width: 480px) {
    .project-box1 h3 {
        font-size: 1.8rem;
    }

    .project-container1 .project-box1 #project-btn {
        font-size: 1.2rem;
        padding: 8px 50px;
    }
}

/*contact section code*/

.contact {
    background:  #29293b;;

}


.contact .heading {
    
    text-align: center;
    -webkit-text-fill-color: rgb(109, 94, 94); /* No fill color */
      -webkit-text-stroke: 1.5px #4caf50; /* Border color and thickness */
      text-shadow: 3px 3px 6px rgb(241, 237, 237); 
}
.contact .heading span {
    
      
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn {
    margin-top: 2rem;
}

/*Footer section code*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: rgb(237, 231, 231);
    
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: white;
    border: 2px solid grey;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);


    box-shadow: 0 0 25px var(--main-color);
}


.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/*Responsive design code*/

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .home-img img {
        box-shadow: 0 0 25px rgb(144, 241, 234),
            0 0 35px rgb(131, 229, 249),
            0 0 45px rgb(128, 243, 254);
    }
    
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }

    .testimonial .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        padding: 2rem 3%;
    }
    .home-img img{
        box-shadow: 0 0 25px rgb(144, 241, 234),
            0 0 35px rgb(131, 229, 249),
            0 0 45px rgb(128, 243, 254);
    }
}

@media (max-width: 991px) {
    .home-img img {
        box-shadow: 0 0 25px rgb(144, 241, 234),
            0 0 35px rgb(131, 229, 249),
            0 0 45px rgb(128, 243, 254);
    }
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(22, 22, 79);
        color: white;
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }

    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }

    .navbar.active {
        right: 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
        margin-left: 1rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 617px) {
    .home-img img {
        box-shadow: 0 0 25px rgb(144, 241, 234),
            0 0 35px rgb(131, 229, 249),
            0 0 45px rgb(128, 243, 254);
    }
    .home-img img {
        width: 70vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    
}

@media (max-width: 617px) {
    .home-img img{
        box-shadow: 0 0 25px rgb(144, 241, 234),
            0 0 35px rgb(131, 229, 249),
            0 0 45px rgb(128, 243, 254);
    }
    html {
        font-size: 50%;
    }
}





/*my update code*/

/*skill section code*/
.skills {
    background: rgb(255, 253, 253);
}

.skills .heading {
    text-align: center;
    margin-top: -30px;
    color: rgb(37, 33, 33);
    
}

.skills .heading span{
    -webkit-text-fill-color: rgb(44, 42, 40); /* No fill color */
    -webkit-text-stroke: 2px #ee6115; /* Border color and thickness */
}

.skills-box div h3 {
    font-size: 2.6rem;
}

ul {
    list-style-type: none;
    display: flex;
    /* Use flexbox to arrange items side by side */
    justify-content: space-evenly;
    /* Space items equally */
}

.skills-box ul li img {
    width: 170px;
    height: 90px;
    border: 3px solid rgb(205, 193, 193);
    border-radius: 20%;
    box-shadow: 0 0 3px rgb(166, 187, 186),
            0 0 7px rgb(115, 119, 120),
            0 0 15px rgb(127, 133, 134);
}
.skills-box ul li img:hover{
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}
.skills-box ul li {
    margin-bottom: 20px;
}
.languages .list ul .python img,
.backskills .list ul .nodejs img{
    background-color: white;
}

.list ul li {
    flex: 1;
    /* Make each item take equal width */
    text-align: center;
    /* Center content horizontally */
    padding-bottom: 12px;

}


.list li img{
    transition: transform 0.3s ease-in-out;
}

.list li img:hover {
    transform: scale(1.16);
}

.languages,
.frontskills,
.backskills,
.databaseskills {
    margin-top: 28px;
    margin-bottom: 20px;
    background: rgb(69, 66, 62);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    color: white;
    border: 3px solid rgb(211, 201, 93);
}

.languages h3,
.frontskills h3,
.backskills h3,
.databaseskills h3 {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 25px;
}



.skills .heading img {
    width: 75px;
    height: 100px;
    padding-bottom: -35px;
    padding-right: 10px;
    padding-top: 40px;
    border-radius: 20px 20px;
    border-top-left-radius: 2px;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .skills-box ul li img {
        width: 150px;
        height: 60px;
    }

    .skills .heading img {
        width: 60px;
        height: 80px;
    }

    .skills-box div h3 {
        font-size: 2.2rem;
    }
    .frontskills .list ul {
        display: grid;
        grid-template-columns: 25% 25% 25%;
    }
    
}

@media (max-width: 992px) {
    

    .skills-box ul li img {
        width: 130px;
        height: 50px;
    }

    .skills-box div h3 {
        font-size: 1.8rem;
    }
   
}

@media (max-width: 768px) {
    
    

    .skills-box ul li img {
        width: 110px;
        height: 40px;
    }

    .skills-box div h3 {
        font-size: 1.6rem;
    }
}

@media (max-width: 576px) {
    .skills-box ul li img {
        width: 90px;
        height: 35px;
    }
    

    .skills-box div h3 {
        font-size: 1.4rem;
    }
    
    .frontskills ul li{
        flex: 1 1 30%;
    }
}


/*the end skills section code*/

/*education section code*/






/* Education Section */
.education {
    background-color: rgb(32, 28, 28);
    padding: 40px 20px;
    text-align: center;
}

.education .heading {

    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.education .heading span{
    -webkit-text-fill-color: rgb(44, 42, 40); /* No fill color */
    -webkit-text-stroke: 2.3px #ee6115; /* Border color and thickness */
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-top: 60px;
    
}

.education-item {
    background-color: rgba(245, 250, 251, 0.985);
    border: 2px solid rgb(17, 145, 188);
    border-radius: 10px;
    box-shadow: 0px 5.5px 16px rgb(248, 246, 246);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    text-align: center;
    color: rgb(19, 18, 18);

}

.education-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.education-item h3 {
    font-size: 1.8rem;
color: black;
    margin-bottom: 10px;
}

.education-item .institution {
    font-size: 1.4rem;
    color: #1a1818;
    margin-bottom: 5px;
}

.education-item .field {
    font-size: 1.2rem;
    color: #151212;
    
}

/* Arrow Up */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid var(--primary-color);
    margin: -10px 0;
    /* Adjust spacing between items */
}

/* Responsive Design */
@media (max-width: 768px) {
    
    .education-item {
        width: 90%;
    }

    .education-item h3 {
        font-size: 1.6rem;
    }

    .education-item .institution,
    .education-item .field {
        font-size: 1.2rem;
    }

    .arrow-up {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid var(--primary-color);
    }
}

@media (max-width: 480px) {
    .education-item {
        padding: 15px;
    }

    .education-item h3 {
        font-size: 1.4rem;
    }

    .education-item .institution,
    .education-item .field {
        font-size: 1rem;
    }

    .arrow-up {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 10px solid var(--primary-color);
    }
}

/* */
/* Thank You Message */
#thankYouMessage {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #e0ffe0;
    color: #333;
    border-radius: 4px;
    margin-top: 20px;
}
